<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
        <div id="login", class="logindiv">
        <img src="login-avatar.png">
            
        </div>
      <div id="subjectlistdiv", class="subjectlist">
              <ul id="buttons">
            <li id = "LO1" ><a href="#"></a> Introduction to Machine learning </li>
              <li id = "LO2"><a href="#"></a> Supervised Vs Unsupervised </li>
              <li id = "LO3"> <a href="#"></a>Linear Regress</li>
              <li id = "LO4"> <a href="#"></a>K-Means Clustering</li>
              <li id = "LO5"> <a href="#"></a>Principle Component Analysis</li>
              <li id = "LO6"> <a href="#"></a>Fischer's Linear Discriminant Analysis</li>
              <li id = "LO7"> <a href="#"></a>Bayes Decision Theory</li>
              <li id = "LO8"> <a href="#"></a>Graphicak Model</li>
              <li id = "LO9"> <a href="#"></a>Model Selection </li>
              <li id = "LO10"><a href="#"></a>Learning Theory</li>
              <li id = "LO11"> <a href="#"></a>Support Vector Machine</li>
              <li id = "LO12"> <a href="#"></a>Neural Network</li>
              <li id = "LO13"> <a href="#"></a>Kernel Ridge and Gaussian Process Regression</li>
              <li id = "LO14"> <a href="#"></a>Maximum Likelihood Estimation</li>
              </ul>
        
        </div>
        <div id="videosdiv", class="vedioBox">
        </div>
        <div id="Recommendation", class = "RecommendationBox" >
        <p> Recommendation Area</p>
        </div>
        <div id="Trending", class = "TrendingBox" >
        <p> Trending Subjects</p>
           
</div>

        </div>
        
    </body>
</html>

